# Visual Studio Related
*.vcxproj.user
*.opensdf
*.sdf
*.tlog
*.lastbuildstate
*.log
*.pdb
*.idb
*.obj
*.exe
*.dll
*.lib
*.ilk
*.res
*.manifest
*.exp
*_manifest.rc
Thumbs.db
*.suo

# VIM related
*.swp
*.un~

# Generic
*.com
*.o
*.so

