<?xml version="1.0" encoding="UTF-8"?>
    
<!-- 

Copyright (c) 2015, Pankaj Garg <pankaj@intellectualheaven.com>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?define ProductName = "IntellectualHeaven CrashDoctor" ?>
<?define ProductNameShort = "CrashDoctor" ?>
<?define ProductVersion = "1.1" ?>
<?define ProductFullVersion = "1.1.0.0" ?>
<?define ProductAuthor = "IntellectualHeaven" ?>
<?define ProductAppFolder = "InstallLocation" ?>
<?define HelpFile = "..\hlp\info.txt" ?>
    

<?if $(var.Platform) = x64 ?>
    <?define ProductId = "6106D49D-8787-4d02-B532-30B81B0CE96E" ?>
    <?define ProductUpgradeCode = "8D32E55E-12BF-49aa-AF11-1E1CC136FACB" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define WindowsSystemFolder = "System64Folder" ?>
    <?define BldPlatform = "x64" ?>
    <?define MainExe = "..\bld\bin\x64\CrashDoctor.exe" ?>
    <?define MainExe32 = "..\bld\bin\Win32\CrashDoctor.exe" ?>
    <?define TestExe = "..\bld\bin\x64\TstApp.exe" ?>
    <?define TestExe32 = "..\bld\bin\Win32\TstApp.exe" ?>
    <?define VCRedistDllA = "..\src\msi\redist\x64\msvcp120.dll" ?>
    <?define VCRedistDllB = "..\src\msi\redist\x64\msvcr120.dll" ?>
    <?define VCRedistDllA32 = "..\src\msi\redist\x86\msvcp120.dll" ?>
    <?define VCRedistDllB32 = "..\src\msi\redist\x86\msvcr120.dll" ?>
<?else?>
    <?define ProductId = "227F6D16-3CE4-4592-A0DE-09835B0A5F0F" ?>
    <?define ProductUpgradeCode = "B970D48F-BDB1-4e40-88AB-26A0BDFA06D6" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define WindowsSystemFolder = "SystemFolder" ?>
    <?define BldPlatform = "Win32" ?>
    <?define MainExe = "..\bld\bin\Win32\CrashDoctor.exe" ?>
    <?define TestExe = "..\bld\bin\Win32\TstApp.exe" ?>
    <?define VCRedistDllA = "..\src\msi\redist\x86\msvcp120.dll" ?>
    <?define VCRedistDllB = "..\src\msi\redist\x86\msvcr120.dll" ?>
<?endif?>

<Product 
    Id="$(var.ProductId)"
    Name="$(var.ProductName) $(var.ProductVersion)"
    Language="1033"
    Version="$(var.ProductFullVersion)"
	Manufacturer="$(var.ProductAuthor)"
    UpgradeCode="$(var.ProductUpgradeCode)">
    
	<Package 
        InstallerVersion="200"
        Compressed="yes"
        InstallScope="perMachine" />

    <MediaTemplate 
        EmbedCab="yes" />

    <MajorUpgrade 
        DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Condition Message="You need to be an administrator to install this product.">
        Privileged
    </Condition>

    <Condition Message="$(var.ProductName) can only be installed on OS Windows XP">
        <![CDATA[(VersionNT >= 501)]]>
    </Condition>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <!--<UIRef Id="WixUI_FeatureTree"/>-->
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUIDialogBmp" Value="..\src\msi\PgWixBanner.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="..\src\msi\PgWixBannerTop.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="..\src\msi\license.rtf" />

    <!-- Disable Change and Repair button if installer is ran again.
         These are disabled because they interfere with our custom
         action handler. So it is better to ask user to uninstall/install. -->
    <!--<Property Id='ARPNOMODIFY'>1</Property>-->
    <Property Id='ARPNOREPAIR'>1</Property>

    <Binary 
        Id="RestoreRegistry"
		SourceFile="..\bld\bin\Win32\MsiCa.dll" />

    <CustomAction 
        Id="RegRstr"
		BinaryKey="RestoreRegistry"
        Return="check"		
		Execute="deferred"
        DllEntry="CrashDoctorRestoreRegistry"
        />

    <CustomAction 
        Id="SetCustomActionDataValue"
        Return="check"
        Property="RegRstr"
        Value="DEBUGSTRING=[ORIGDEBUGSTRING];DEBUGSTRING32=[ORIGDEBUGSTRING32]"
        />

    <InstallExecuteSequence>
        <Custom Action="SetCustomActionDataValue" Before="RegRstr">
            Installed AND NOT UPGRADINGPRODUCTCODE
        </Custom>
        <Custom Action="RegRstr" Before="InstallFinalize">
            Installed AND NOT UPGRADINGPRODUCTCODE
        </Custom>
    </InstallExecuteSequence>

    <Property Id="AEDEBUGSTRING">
        <RegistrySearch 
            Id="DebuggerString"
            Root="HKLM"
            Key="Software\Microsoft\Windows NT\CurrentVersion\AeDebug"
            Name="Debugger"
			Type="raw"
            Win64="$(var.Win64)" />
    </Property>

    <?if $(var.Platform) = x64 ?>
        <Property Id="AEDEBUGSTRING32" Secure="yes">
            <RegistrySearch
                Id="DebuggerString32"
                Root="HKLM"
                Key="Software\Wow6432Node\Microsoft\Windows NT\CurrentVersion\AeDebug"
                Name="Debugger"
			    Type="raw"
                Win64="$(var.Win64)" />
        </Property>
    <?endif?>

    <Property Id="ORIGDEBUGSTRING">
        <RegistrySearch
            Id="OrigDebuggerString"
            Root="HKLM"
            Key="Software\$(var.ProductName)\Debuggers"
            Name="PreCrashDoctorDebugger"
			Type="raw"
            Win64="$(var.Win64)" />
    </Property>

    <!-- On 32-bit platforms this would be blank, which is fine, as we need to pass
         both values to our custom action dll. The custom action dll in-turn ignores
         blank values. This allows us to have common code for invoking custom action
         in this file.
    -->
    <Property Id="ORIGDEBUGSTRING32" Secure="yes">
        <RegistrySearch
            Id="OrigDebuggerString32"
            Root="HKLM"
            Key="Software\Wow6432Node\$(var.ProductName)\Debuggers"
            Name="PreCrashDoctorDebugger"
            Type="raw"
            Win64="$(var.Win64)" />
    </Property>

    <Feature Id="CrashDoctorProgram" Title="CrashDoctor Application" Level="1" Absent="disallow" AllowAdvertise="no">
        <ComponentRef Id="MainEXE" />
        <ComponentRef Id="MainEXEShortcut" />
        <?if $(var.Platform) = x64 ?>
            <ComponentRef Id="MainEXE32" />
            <ComponentRef Id="MainEXE32Shortcut" />
        <?endif ?>
    </Feature>
    <Feature Id="CrashDoctorHelp" Title="CrashDoctor Help" Level="1" AllowAdvertise="no">
        <ComponentRef Id="HelpFiles" />
        <ComponentRef Id="HelpShortcut" />
    </Feature>
</Product>

<Fragment>
	<Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="$(var.PlatformProgramFilesFolder)">
			<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
		</Directory>
        <?if $(var.Platform) = x64 ?>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER32" Name="$(var.ProductName)" />
            </Directory>
        <?endif ?>
        <Directory Id="ProgramMenuFolder" >
            <Directory Id="ShortcutsFolder" Name="$(var.ProductName)"/>
        </Directory>
	</Directory>
</Fragment>

<Fragment>
    <DirectoryRef Id="INSTALLFOLDER">        
        <Component 
            Id="MainEXE"
            Guid="B9338926-BA55-4200-89CC-E730ACFB9116"
            Win64="$(var.Win64)">

            <File Id="CrashDoctorEXE" Source="$(var.MainExe)" KeyPath="yes" Checksum="yes" />
            <File Id="TestAppEXE" Source="$(var.TestExe)" Checksum="yes" />
            <File Id="RedistDllA" Source="$(var.VCRedistDllA)" Checksum="yes" />
            <File Id="RedistDllB" Source="$(var.VCRedistDllB)" Checksum="yes" />

            <RegistryKey 
                Root="HKLM"
                Key="Software\$(var.ProductName)\Debuggers">

                <RegistryValue Type="integer" Name="Count" Value="1"/>
                <RegistryValue Type="string" Name="Debugger00" Value="[AEDEBUGSTRING]"/>
                <RegistryValue Type="string" Name="PreCrashDoctorDebugger" Value="[AEDEBUGSTRING]"/>

            </RegistryKey>

            <RegistryValue
				Root="HKLM"
				Key="Software\Microsoft\Windows NT\CurrentVersion\AeDebug"
				Name="Debugger"
				Type="string"
				Value="[INSTALLFOLDER]CrashDoctor.exe -p %ld -e %ld"
            />
            
            <RegistryValue
				Root="HKLM"
				Key="Software\Microsoft\Windows NT\CurrentVersion\AeDebug"
				Name="Auto"
				Type="string"
				Value="1"
            />
        </Component>
        
        <Component
            Id="HelpFiles"
            Guid="A1A45611-F9FD-4a70-A5BE-843C9458892F"
            Win64="$(var.Win64)">

            <File Id="HelpFilesTxt" Source="$(var.HelpFile)" KeyPath="yes" Checksum="yes" />

        </Component>
    </DirectoryRef>

    <?if $(var.Platform) = x64 ?>
        <DirectoryRef Id="INSTALLFOLDER32">
            <Component
                Id="MainEXE32"
                Guid="4727677D-DF3C-41f7-931E-55EEBE4E5E94"
                Win64="no">

                <File Id="CrashDoctorEXE32" Source="$(var.MainExe32)" KeyPath="yes" Checksum="yes" />
                <File Id="TestAppEXE32" Source="$(var.TestExe32)" Checksum="yes" />
                <File Id="RedistDllA32" Source="$(var.VCRedistDllA32)" Checksum="yes" />
                <File Id="RedistDllB32" Source="$(var.VCRedistDllB32)" Checksum="yes" />

                <RegistryKey
                    Root="HKLM"
                    Key="Software\Wow6432Node\$(var.ProductName)\Debuggers">

                    <RegistryValue Type="integer" Name="Count" Value="1"/>
                    <RegistryValue Type="string" Name="Debugger00" Value="[AEDEBUGSTRING]"/>
                    <RegistryValue Type="string" Name="PreCrashDoctorDebugger" Value="[AEDEBUGSTRING]"/>

                </RegistryKey>

                <RegistryValue
                    Root="HKLM"
                    Key="Software\Wow6432Node\Microsoft\Windows NT\CurrentVersion\AeDebug"
                    Name="Debugger"
                    Type="string"
                    Value="[INSTALLFOLDER]CrashDoctor.exe -p %ld -e %ld"
                />

                <RegistryValue
                    Root="HKLM"
                    Key="Software\Wow6432Node\Microsoft\Windows NT\CurrentVersion\AeDebug"
                    Name="Auto"
                    Type="string"
                    Value="1"
                />
            </Component>
        </DirectoryRef>
    <?endif?>

    <DirectoryRef Id="ShortcutsFolder">

        <!-- Shortcuts for readme file and uninstaller -->
        <Component
			Id="MainEXEShortcut"
			Guid="FF8AFEE3-4451-4058-B97C-03D0AECEB253"
			Win64="$(var.Win64)">

            <Shortcut
				Id="AppExeShortcut"
				Name="$(var.ProductNameShort)"
				Description="Launch $(var.ProductName)"
				Target="[INSTALLFOLDER]CrashDoctor.exe"
				WorkingDirectory="INSTALLFOLDER"
				Icon="CrashDoctorEXEIcon">

                <!-- Icon ID must have an EXE (or possibly other, e.g. ICO) extension -->
                <Icon
					Id="CrashDoctorEXEIcon"
					SourceFile="$(var.MainExe)"
				/>
            </Shortcut>

            <Shortcut
				Id="TstAppShortcut"
				Name="$(var.ProductNameShort) Test Application"
				Description="Launch $(var.ProductName) Test Application"
				Target="[INSTALLFOLDER]TstApp.exe"
				WorkingDirectory="INSTALLFOLDER"
				Icon="TestEXEIcon">

                <Icon
					Id="TestEXEIcon"
					SourceFile="$(var.TestExe)"
                />
            </Shortcut>

            <Shortcut
				Id="UninstallShortcut"
				Name="Uninstall $(var.ProductNameShort)"
				Description="Uninstall $(var.ProductName)"
				Target="[$(var.WindowsSystemFolder)]msiexec.exe"
				Arguments="/x [ProductCode]"
			/>

            <RemoveFolder
				Id="ShortcutsFolder"
				On="uninstall"
			/>

            <RegistryValue
				Root="HKCU"
				Key="Software\$(var.ProductName)"
				Name="AppShortcutInstalled"
				Type="integer"
				Value="1"
				KeyPath="yes"
			/>
        </Component>

        <Component
			Id="HelpShortcut"
			Guid="BF173FC0-7952-43DB-9EE9-4825B368C860"
			Win64="$(var.Win64)">

            <Shortcut
                Id="HlpFileShortcut"
                Name="$(var.ProductNameShort) Help"
                Description="$(var.ProductNameShort) Help"
                Target="[INSTALLFOLDER]info.txt"
                WorkingDirectory="INSTALLFOLDER"
            />

            <RegistryValue
				Root="HKCU"
				Key="Software\$(var.ProductName)"
				Name="HelpShortcutInstalled"
				Type="integer"
				Value="1"
				KeyPath="yes"
            />
        </Component>
    </DirectoryRef>
</Fragment>
</Wix>