<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="CrashDoctor Setup" Version="1.0.0.0" Manufacturer="IntellectualHeaven" UpgradeCode="684ed3ab-dad2-411d-bd47-6b5f1942e3de">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
            <MsiPackage InstallCondition='NOT VersionNT64' SourceFile='..\bld\msi\x86\Release\en-us\CrashDoctor32.msi' DisplayInternalUI='yes' />
            <MsiPackage InstallCondition='VersionNT64' SourceFile='..\bld\msi\x64\Release\en-us\CrashDoctor64.msi' DisplayInternalUI='yes' />
		</Chain>
	</Bundle>
</Wix>